[submodule "firmware/tinyusb"]
	path = firmware/tinyusb
	url = https://github.com/hathach/tinyusb
[submodule "firmware/micropython"]
	path = firmware/micropython
	url = https://github.com/micropython/micropython
