---
import Layout from "@layouts/Layout.astro";
import Tauri from "@components/Tauri.svelte";
---

<Layout title="XAP lab">
    <main>
        Welcome to my testing environment
        <hr />
        <Tauri command="find_xap" text="Find XAP devices" client:only />
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1.5rem;
        max-width: 60ch;
    }
</style>
