---
import Layout from "@layouts/Layout.astro";
import Call from "@components/Call.svelte";
---

<Layout title="HID testing zone.">
    <main>
        Hello, World!
        <Call command="greet" args={{name: "peke"}} client:only />
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1.5rem;
        max-width: 60ch;
    }
    button {
        width: 500px;
        height: 50px;
    }
</style>
